/* help */
.help
{
    overflow-x: hidden;
    height: 90%;
}

h4
{
    color: var(--primary);
}

fa-icon
{
    color: var(--primary)
}

a
{
    color: var(--secondary);
    font-weight: 500;
}

.guide-img
{
    width: 40rem;
}

/* content-text */

.content-text
{
    height: 100%;
}